<%= button_to "Jobs You Have Saved", home_path, :method => "get", class: "home_buttons"%>
<h3>Current Job Postings</h3><br>

<% @jobs.reverse.each do |job| %>
    <%= link_to "#{job.company} - #{job.title} located in #{job.location}", "/jobs/#{job.id}" %>
    <br><br>
<% end %>