<%= button_to "Jobs You Have Saved", home_path, :method => "get", class: "home_buttons"%>
<h3>Current Job Postings</h3>

<% @jobs.reverse.each do |job| %>
    <%= link_to "#{job.company} - #{job.title}", "/jobs/#{job.id}" %><br>
    <%= "Located in #{job.location}" %>
    <br><br>
<% end %>