.field_with_errors { 
    padding: 2px;
    background-color: red;
    display: table;
}

.home_buttons {
    float: right;
}

div.container-fluid {
    padding-left: 2%;
}

div.container-fluid a.review_index_title_link {
    color: green;
}

a:link {
    text-decoration: none;
    color: darkslategrey;
    background-color: transparent;
    
}

div.container-fluid a {
    color: green;
    
}

div.container-fluid a:hover{
    color: limegreen;
}



a.nav-link {
    color: darkslategrey;
}


input[type=submit], input[type=reset] {
    background-color:  green;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
  }

  div.container-fluid a.navbar-brand {
      color: green;
  }

  div.container-fluid a.nav-link{
    color: darkslategrey;
}

a.navbar-brand{
    color: green;
}