<% if model.errors.any? %>
  <div id="error_explanation">
    <h5><%= pluralize(model.errors.count, "error") %> prohibited this action from being saved:</h5>

    <ul>
      <% model.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>